

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #5B6D92; */
  background: rgb(100,73,134);
  background: linear-gradient(90deg, rgba(100,73,134,1) 5%, rgba(195,131,219,0.6026785714285714) 100%, rgba(175,117,232,0.8971428571428571) 100%);
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: -10px 0px 20px rgba(14, 10, 10, 0.637);
  border-radius: 12px;
}

.sidenav a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  
  /* color: #5B6D92; */
  /* color: #efe8f3; */
  /* display: block; */
  color: white;
  margin-top: 5px;
  text-align: left;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
}

.sidebar-item {
  display: flex;
  align-items: left;
}

.sidenav div:hover {
  /* color: #29085f; */
  color: #F8D673;
  /* background-color: #e8e4f0; */
  border-radius: 10px;
  
}

.profile-name img{
 width: 100px;
 height: 100px;
 border-radius: 100%;
 border-color: white;
 border-width: 2px;
 border-style: solid;
}

.sidebar-item a:hover {
  color: #F8D673 !important;
}
 
/*   
.sidenav div div{
  display: flex;
} */

.sidenav a:hover {
  /* color: #29085f; */
  color: #fbf5ff;
  /* background-color: #17161a; */
  border-radius: 10px;
  transition: 0.3s;
 
}

.sidenav div{
  padding: 10px;
  text-align: center;
  font-size: 20px;
  /* color: #f7f5fc; */
  color: white;
  /* display: block; */
  border-radius: 20px;
  

}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 300px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */
  
.sidenav {
  height: 300px;
  width: 100px;
  
  /* background-color: #5B6D92; */

}

  .profile-name img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    
   }
   
}


/*---------- Right Navbar --------------- */

.sidebar-right {
  height: 100%;
  width: 1100px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  /* background-color: #fbf5ff; */
  /* background: rgb(31,22,42);
  background: linear-gradient(90deg, rgba(31,22,42,1) 5%, rgba(116,66,135,1) 100%, rgba(28,16,42,0.8971428571428571) 100%); */
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: -10px 0px 20px rgba(219, 218, 218, 0.637);
  border-radius: 12px;
}



@media screen and (max-width: 600px) {
  .sidenav {
    width: 400px;
    height: auto;
    position: relative;
  }

  .sidebar-right {
    width: 400px;
    position: relative;
    margin-top: 20px;
    margin-right: 5px;
  }

  .profile-name img {
    width: 80px;
    height: 80px;
  }

  .sidenav div {
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }

  .sidenav a {
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 300px) {
  .sidenav {
    width: 200px;
    height: auto;
    position: relative;
  }

  .sidebar-right {
    width: 200px;
    position: relative;
    margin-top: 20px;
    margin-right: 5px;
  }

  .profile-name img {
    width: 60px;
    height: 60px;
    
  }

  .sidenav div {
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }

  .sidenav a {
    font-size: 12px;
    padding: 8px;
  }
}