
.dashboard-div{
    display: flex;
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
    .dashboard-div{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
    .dashboard-div{
        display: flex;
        
    }
}

@media screen and (max-width: 400px) {
    .dashboard-div{
        display: block;
    }
}