

.banner-div{
    width: 450px;
    height: 200px;
    background: rgb(31,22,42);
    background: linear-gradient(90deg,
     rgba(31,22,42,1) 5%, rgba(116,66,135,1)
      100%, rgba(28,16,42,0.8971428571428571)
       100%);
       margin-top: 10px;
       margin-left: 10px;
}

.overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 450px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value (0.5) */
  }


  @media screen and (max-width: 768px) {

    .banner-div{
      width: 600px;
      height: 200px;
  }
  .overlay {
    width: 300px;
    height: 200px;
  }
    

}

@media screen and (max-width: 400px) {

  .banner-div{
    width: 300px;
    height: 200px;
    margin-left: 0;
}
.overlay {
  width: 300px;
  height: 200px;
}
    

}